/src/FrontBundle/Resources/Public/videos/presentationenfantsdudesert.mp4
/src/FrontBundle/Resources/Public/videos/presentation4ltrophy.mp4
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/node_modules
/bin/
/composer.phar
/web/js
/web/img
/web/vendors

/web/css

/.idea/
