<div id="my_carousel" class="carousel slide" data-ride="carousel">
    <!-- Bulles -->
    <ol class="carousel-indicators">
        <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my_carousel" data-slide-to="1"></li>
        <li data-target="#my_carousel" data-slide-to="2"></li>
    </ol>
    <!-- Slides -->
    <div class="carousel-inner">
        <!-- Page 1 -->
        <div class="item active">
            <div class="carousel-page">
                <img src={{ asset("/img/slider1.png") }} class="img-responsive img-rounded"
                     style="margin:0px auto;"  />
            </div>
            <div class="carousel-caption">
                <h3>4L TROPHY</h3>
                <p>It's your desert adventure</p>
                <a href="http://bpi.4ltrophy.com/"><div>Participer</div></a>
            </div>
        </div>
        <!-- Page 2 -->
        <div class="item">
            <div class="carousel-page">
                <img src={{ asset("/img/slider2.png") }} class="img-responsive img-rounded"
                style="margin:0px auto;"  />
            </div>
            <div class="carousel-caption">
                <h3>4L TROPHY</h3>
                <p>It's your desert adventure</p>
                <a href="http://bpi.4ltrophy.com/"><div>Participer</div></a>
            </div>
        </div>
        <!-- Page 3 -->
        <div class="item">
            <div class="carousel-page">
                <img src={{ asset("/img/slider3.png") }} class="img-responsive img-rounded"
                style="margin:0px auto;"  />
            </div>
            <div class="carousel-caption">
                <h3>4L TROPHY</h3>
                <p>It's your desert adventure</p>
                <a href="http://bpi.4ltrophy.com/"><div>Participer</div></a>
            </div>
        </div>
    </div>

</div>