{% extends 'base.html.twig' %}
{% block content %}
<div class="presentation">
    <div class="row textAndPhotos">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 container">
                            <img src="{{ asset('img/humanitaire.png') }}" alt="">
                        </div>
                        <div class="col-sm-6 container">
                            <h2>Le contexte</h2>
                            <p>
                                L’association “Enfants du désert” à rejoint l’entreprise “Désert Tour” dans le cadre de l’aventure du 4L Trophy. Son rôle est de permettre la récolte de fournitures scolaires pour les enfants au Maroc, la récolte de boites de conserve pour être distribué, la récolte de dons monétaire pour permettre la construction d’écoles pour les enfants au Maroc. Matériels médical et paramédical.  L’association « Enfants du désert » récolte grâce aux 1200 équipages de 2015 la somme de 18 132, 49€ !
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 container">
                            <h2>
                                Valeurs
                            </h2>
                            <p>
                                Durant ce raid du 4L Trophy, l’association récupère différents types de dons:
                                <br>Fournitures scolaires
                                <br>Fournitures sportives
                                <br>Dons financier qui participent à la construction d’écoles

                                <br><br>Non obligatoire mais possible:
                                <br>Médical
                                <br>Paramédical
                                <br>Hygiène
                                <br>Informatique (ordi fixe, ordi portable, imprimante, scanner )
                                <br>Téléphone usagé pour être recyclé

                            </p>
                        </div>
                        <div class="col-sm-6 container">
                            <img src="{{ asset('img/img1.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="video col-sm-10 col-sm-offset-1">
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video controls poster="{{ asset('img/presentation4l.jpg') }}" class="embed-responsive-item">
                    <source src={{ asset('videos/presentationenfantsdudesert.mp4') }} type=video/mp4>
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2>histoire</h2>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Association de loi 1901, Enfants du désert a été créée en 2005 par Laetitia Chevallier à la suite de plusieurs séjours au Maroc. Elle est née de l’envie d’aider matériellement et humainement les enfants les plus démunis, au sein de leur famille, dans les provinces du désert les plus reculées.
                        Au Maroc, il existe encore des régions qui subissent l’illettrisme, du fait notamment, du coût en matériel scolaire qui, à chaque rentrée, constitue un frein important à la scolarisation des enfants.
                        L’une des priorités d’Enfants du désert est donc l’éducation, et plus particulièrement celle des petites filles, qui aujourd’hui encore sont, pour diverses raisons, moins scolarisées que les garçons. Apprendre à lire, écrire et compter, est un droit qui doit être accessible à tous de nos jours.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        Indépendamment de l’aide à la scolarité, Enfants du désertsouhaite apporter à ces enfants, un peu de gaieté et de joie de vivre dans leur quotidien, en leur fournissant : jouets, vêtements, chaussures et produits d’hygiène.
                        Laetitia et Emmanuel CHEVALLIER se rendent sur place chaque mois afin d’effectuer un suivi des familles sur le long terme et d’évaluer en permanence les besoins qui pourraient être un frein à une scolarité suivie des enfants.
                        De plus, Enfants du désert travaille en étroite collaboration avec 15 ONG locales, choisies en raison de leur probité et qui assurent sur place un suivi entre chacune des interventions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}