<!doctype html>
<html lang="en">
<link href="{{ asset('/css/master.css') }}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<script src="{{ asset('/js/scripts.js') }}"></script>
</body>
</html>