{# TODO: Treat those data properly #}
<table border>
    <tr>
        <td>Message</td>
        <td>Picture</td>
        <td>Created At</td>
    </tr>
    {% for graphNode in graphEdge %}
        <tr>
            <td style="width: 30%">
                {% if graphNode['message'] is defined %}
                    {{ graphNode['message'] }}
                {% else %}
                    Null
                {% endif %}
            </td>
            <td style="width: 50%;">
                {% if graphNode['full_picture'] is defined %}
                    <img src="{{ graphNode['full_picture'] }}" alt="">
                {% else %}
                    <img src="" alt="">
                {% endif %}
            </td>
            <td style="width: 20%;">
                {% if graphNode['created_time'] is defined %}
                    {{ graphNode['created_time']|date('m/d/Y') }}
                {% else %}
                    Null
                {% endif %}
            </td>
    {% endfor %}
</table>
