.nav_wrapper {
  background-color: #fff;
  z-index:1000;
  padding:10px;
  .nav_list {
    float: none;
    margin:0 auto;
    width:1100px;
    li {
        display: inline-block;
        img {
          width: 50px;
          margin-right:50px;
        }
        a {
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          text-decoration: none;
          margin-right: 15px;
          color: #444d4f;
        }
        span a {
          padding:15px 30px 15px 30px;
          background-color: $main_red;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          text-decoration: none;
          color: #fff;
        }
      }
    .active {
      a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        margin-right: 15px;
        color: $main_red;
      }
    }
  }
}
