.nav_wrapper {
  padding:10px;
  .nav_list {
    float: none;
    margin:0 auto;
    width:880px;
    li {
        display: inline-block;
        img {
          width: 50px;
          margin-right:50px;
        }
        a {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          text-decoration: none;
          margin-right: 15px;
          color: #444d4f;
        }
      }
    .active {
      a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        margin-right: 15px;
        color: #d13d3d;
      }
    }
  }
}
