.home {
  span {
    padding:15px 30px 15px 30px;
    background-color: #d13d3d;
    text-transform: uppercase;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .brand  {
    padding-bottom: 50px;
    text-align: center;


    overflow: hidden;
    .background_4l {
      position: absolute;
      width: 502px;
      height: 217px;
      left: -100px;
      bottom:-100px;
      background-repeat:no-repeat;
      background-size: 502px 217px;
    }
    h2 {
      font-family: $font_title;
      text-align: center;
    }
    p {
      font-family: $font_body;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .adventure {
    background: #f6f6f6;
    padding-bottom: 50px;
    h2 {
      font-family: $font_title;
      text-align: center;
    }
    p {
      font-family: $font_body;
    }
    .photo {
      position: relative;
      overflow: hidden;
      padding: 10px;
      img {
        float: right;
      }
    }
    .text {
      padding:10px;
      h3 {
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
      }
      p {
        margin-bottom: 50px;
      }
    }
  }
  .testimony {
    padding-bottom: 50px;
    text-align: center;
    .content {
      padding:20px;
      p, h3 {
        color: #fff;
      }
      h2, h3 {
        font-family: $font_title;
      }
      p {
        font-family: $font_body;
      }
    }
    img {
      z-index:1;
      padding-left:0px;

    }
    .filter {
      position: absolute;
      height: 100%;
      background-color:rgba(0, 0, 0, 0.5);
      z-index:2;
    }
    .container{
      p {
        font-family: $font_body;
      }
      h2 {
        font-family: $font_title;
      }
      h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight:bold;
      }
      .testimony-container {
        margin-bottom: 20px;
        .filter {
          .row {
            padding:0;
          }
        }
        .right {
          .crop-right  {
            padding-right: 0;
            position: relative;
            height: 200px;
            overflow: hidden;
            margin-bottom: 30px;
            .content {
              padding:10px 5px 0 5px;

            }
            img {
              width: 100%;
            }
          }
        }
        .left {
          .crop-left {
            position: relative;
            height: 430px;
            overflow: hidden;
            .content {
              padding: 10px 5px 0 5px;
            }
            img {
              height: 430px;
            }
          }
        }
      }

    }
  }
  .twitter {
    text-align: center;
    background-color: #f6f6f6;
  }
  .stats {
    text-align: center;
    .dataContainer {
      width: 1000px;
      .dataviz {
        margin:0 auto;
      }
    }
  }
}
