.presentation{
  .bigPicture, .video {
    height: 400px;
    overflow: hidden;
    position: relative;
    padding:0;
    img{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-30%);
    }
  }
  .textAndPhotos {
    h2 {
      margin:40px;
      text-align: center;
    }
    .container {
      margin:15px 0 15px 0;
      img {
        width: 100%;
      }
    }
  }

}