.presentation{
  p {
    color: #888888;
    font-family: "Roboto Slab", serif;
  }
  h2 {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  .bigPicture, .video {
    height: 400px;
    overflow: hidden;
    position: relative;
    padding:0;
    img{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-30%);
    }
  }
  .textAndPhotos {
    h2 {
      margin:40px;
      text-align: center;
    }
    .container {
      margin:15px 0 15px 0;
      h2 {
        margin:20px 0 20px 0;
        text-align: left;
      }
      img {
        width: 100%;
      }
    }
  }
  .inter {
    h2 {
      margin:20px 0 20px 0;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

}