.testimonyRow {
  .testimony {
    margin-bottom: 20px;
    p {
      text-align: center;
    }
    img {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .photoContainer {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      img {
        display: inline;
        margin:0 auto;
        height: 100%;
        width:auto;
      }
    }
  }
}